md-toast {
  position : fixed !important;
}
.app-loader {
	position:absolute;
	top:0;
	left:0;
	z-index: 1001;
	width: 100vw;
	height: 100vh;
}
.app-loader .spinner{
	width : 100%;
	height : 100%;
}
.font_16 {
	font-size : 16px !important;
}

.font_18 {
	font-size : 18px !important;
}

.font_20 {
	font-size : 20px !important;
}

.font_bold {
	font-weight : 800 !important;
}

.center {
	text-align : center !important;
}

.margin_left_20 {
	margin-left : 20px;
}

.margin_top_20 {
	margin-top : 20px;
}

.margin_top_40 {
	margin-top : 40px;
}

.margin_right_20 {
	margin-right : 20px;
}

.margin_bottom_20 {
	margin-bottom : 20px;
}

.margin_bottom_40 {
	margin-bottom : 40px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 220px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
    cursor : pointer;
}

.drop-box.dragover {
	border : 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}


.doc-card img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.stick {
	position : fixed;
	top : 0;
}

.gallery-container {
    left: 0;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index : 400;
}

.overlay {
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index : 200;
}

.gallery-container .pdf {
    width: 70%;
    margin : 10px auto;
    height : 95vh;
}

.gallery-container .image-wrapper {
	width : 70%;
	height: 100%;
	margin : 50px auto;
	text-align: center;
}

.image-wrapper img {
	max-width: 70%;
	max-height: 100%;
}

.gallery-container .close{
	position:absolute;
	right:5px;
	top:5px;
	cursor : pointer;
	outline: none;
}

.doc-card {
	position:relative;
	width:250px;
	height:250px;
	cursor : pointer;
}

.doc-remove {
	position:absolute;
	right:-10px;
	top:-10px;
	cursor : pointer;
	outline: none;
}

.doc-card-content {
	outline: none;
	position:relative;
	display:block;
	margin:auto;
	width: 200px;
	height: 200px
}

.md-card-hover {
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.md-card-hover{
    -webkit-transition:all 280ms cubic-bezier(.4,0,.2,1);
    transition:all 280ms cubic-bezier(.4,0,.2,1)
}

.md-card-hover:hover{
    box-shadow:0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
    cursor : pointer;
}

.doc-card.active {
	box-shadow:0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.panel-widget-title {
    color: #7A7A7A;
}

.bgm-cyan {
	background-color: #00bcd4;
	color : white;
}

.bgm-lightgreen {
    background-color: #8bc34a !important;
    color : white;
}

.bgm-orange {
	background-color: #ff9800 !important;
	color : white;
}

.bgm-bluegray {
    background-color: #607d8b !important;
    color : white;
}

.inline-icon {
	margin-top: 8px;
	margin-right: 5px;
}

.crumbs-container {
	position: relative;
	display: inline-block;
	-webkit-transition: height 0.5s ease-out; 
	-moz-transition: height 0.5s ease-out;  
	-o-transition: height 0.5s ease-out; 
	transition: height 0.5s ease-out;
}

.crumbs {
	width: 100%;
	bottom: 0;
}
.crumbs li a {
	display: block;
	padding: 1em;
	color: rgb(33,150,243);
}
.crumbs li:last-child a {
	text-decoration: none;
	color: #000;
	cursor: default;
}

.crumbs {
	padding: 1em;
}
.crumbs li {
	display: inline-block;
}
.crumbs li a {
	display: inline;
	border: 0;
	padding: 0;
}
.crumbs li:after {
	content: '→';
	padding: 0 0.25em 0 0.5em;
	color: #999;
}
.crumbs li.last:before, .crumbs li.last:after {
	content: '';
}

.icon-transition {
	-webkit-transition:all 280ms cubic-bezier(.4,0,.2,1);
    transition:all 280ms cubic-bezier(.4,0,.2,1);
}

.icon-transition:hover {
	color : blue;
	cursor : pointer;
}

.label {
	color : #999;
}

#notificationContainer 
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow: visible;
position: absolute;
top: 58px;
margin-left: -200px;
width: 400px;
z-index: -1;
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 135px;
}
#notificationTitle
{
font-weight: bold;
color : #565656;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
min-height:300px;
}
#notificationFooter
{
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}
#notification_count 
{
padding: 0px 7px 0px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
border-radius: 9px;
-moz-border-radius: 9px; 
-webkit-border-radius: 9px;
position: absolute;
left: 40px;
height: 60%;
font-size: 11px;
opacity : 1;
}
.fade{
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

#vertical-container {
  height: 300px;
  width: 100%;
  max-width: 400px;
  color:  #565656;
}
.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 10px;
  background: #ecf0f7;
}
.notification-read {
	background: #fff;
}
.repeated-item:hover {
	cursor: pointer;
	background: #f6f7f9;
}
.notification-text {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 1.34;
	font-weight: 600;
	margin: 10px 0 5px 0;
}

.notification-description {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.34;
	margin-top: 5px 0;
}
.link {
	color : #6969D2;
	text-align : right;
	float: right;
	margin-top: -18px;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
	color : #3F3FFD;
}
.read-link {
	color : #6969D2;
	text-decoration: none;
	text-align : right;
	font-size: 12px;
}
.read-link:hover {
	text-decoration: underline;
	color : #3F3FFD;
}