<md-content class="md-padding" flex>

    <form name = "addClientForm">
    	<div layout = "column" layout-align = "center center" class = "md-whiteframe-z2">
    		<h2>Add a New Client</h2>
            <md-input-container style = "width : 300px" class = "md-block">
			  <label>Name of the Company</label>
			  <input type="text" required="" name = "companyName" ng-model = "client.companyName">
			  <div ng-messages = "addClientForm.companyName.$error">
			  	<div ng-message = "required">This is required</div>
			  </div>
			</md-input-container>
            <md-input-container style = "width : 300px" class = "md-block">
			  <label>Client Name</label>
			  <input type="text" required="" name = "clientName" ng-model = "client.clientName">
			  <div ng-messages = "addClientForm.clientName.$error">
			  	<div ng-message = "required">This is required</div>
			  </div>
			</md-input-container>
            <md-input-container style = "width : 300px">
			  <label>Email</label>
			  <input type="email" required name = "email" ng-model = "client.email">
			  <div ng-messages = "addClientForm.email.$error">
			  	<div ng-message = "email">Please enter a valid email</div>
			  	<div ng-message = "required">This is required</div>
			  	<div ng-message = "userExists">User Exists. Email is already registered.</div>
			  </div>
			</md-input-container>
			<md-input-container style = "width : 300px">
			  <label>Phone Number</label>
			  <input type="number" name = "phone_number" ng-model = "client.phoneNumber" required>
			  <div ng-messages = "addClientForm.phone_number.$error">
			  	<div ng-message = "required">This is required</div>
			  </div>
			</md-input-container>
			<md-input-container style = "width : 300px">
			  <label>Alt Phone Number</label>
			  <input type="number" name = "altPhoneNumber" ng-model = "client.altPhoneNumber">
			  <div ng-messages = "addClientForm.altPhoneNumber.$error">
			  </div>
			</md-input-container>
			<md-input-container style = "width : 300px">
			  <label>Pan Card</label>
			  <input type="text" required="" name = "panCard" ng-model = "client.panCardNumber">
			  <div ng-messages = "addClientForm.panCard.$error">
			  	<div ng-message = "required">This is required</div>
			  	<div ng-message = "panCardExists">This Pan Card already exists</div>
			  </div>
			</md-input-container>
			<div layout = "row" layout-align = "center center">
				<md-button class = "md-primary md-raised" style = "font-size : 1.3em"
				ng-click = "addClient()" ng-disabled = "addClientLoading">Add Client</md-button>
				<md-progress-circular md-mode="[[addClientLoading]]"></md-progress-circular>
            </div>
		</div>
	</form>
</md-content>