<md-content class="md-padding" flex>
	<div layout = "column">
		<div layout = "row">
			<h2 style = "text-align : center" flex>Tasks</h2>
			<md-progress-circular md-mode="[[updateStatusLoading]]" style = "margin-left:auto;margin-right:auto"></md-progress-circular>
			<md-button class = "md-primary md-raised" ng-disabled = "updateStatusLoading" ng-click = "updateStatusOfTasks()" style = "height : 10px">Update Status</md-button>
		</div>
		<div layout = "row" layout-align = "center center">
			<md-input-container class = "margin_right_20" style = "width : 250px" class = "md-block">
			  <label>Filter Results</label>
			  <input type="text" name = "searchQuery" ng-model = "searchQuery">
			</md-input-container>
		</div>
		<md-tabs md-stretch-tabs md-dynamic-height>
			<md-tab label = "My Tasks">
				<md-content>
					<md-table-container md-row-select style = "margin-bottom : 40px">
				        <table md-table>
				            <thead md-head >
				                <tr md-row >
				                    <th md-column class = "font_16 center" style = "width : 50px">Task Id</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Client Name</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Contact Number</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Pan Card</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Status</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Action</th>
				                </tr>
				            </thead>
				            <tbody md-body>
					            <tr md-row ng-show = "myTasks.length > 0" ng-repeat = "task in myTasks | filter:searchQuery">
					                <td md-cell class = "font_14 center">#[[task.id]]</td>
					                <td md-cell class = "font_14 center">[[task.client_name]]</td>
					                <td md-cell class = "font_14 center">[[task.contact_number]]</td>
					                <td md-cell class = "font_14 center" ng-hide = "task.pan_card"><md-icon md-font-icon="fa-minus" class = "fa"></md-icon></td>
					                <td md-cell class = "font_14 center" ng-show = "task.pan_card">[[task.pan_card]]</td>
					              	<td md-cell class = "font_14 center">
					              		<md-input-container>
											<md-select ng-model="task.task_status">
												<md-option ng-repeat="status in taskStatus" value="[[status]]">[[status]]</md-option>
											</md-select>
										</md-input-container>
									</td>
					                <td md-cell class = "font_14 center"><div layout = "row" layout-align = "start center"><md-icon ng-click = "updateTask(task)" md-font-icon="fa-pencil" class = "fa icon-transition" ></md-icon><md-icon ng-click = "viewTask(task)" md-font-icon="fa-eye" class = "fa icon-transition" ></md-icon></div></td>
					            </tr>
					            <tr md-row ng-show = "myTasks.length == 0">
					            	<td md-cell class = "font_16 center font_bold" colspan = "8">There are no tasks assigned to you.</td>
					            </tr>
					        </tbody>
					    </table>
					</md-table-container>
				</md-content>
			</md-tab>
			<md-tab label = "Tasks Assigned">
				<md-content>
					<md-table-container md-row-select style = "margin-bottom : 40px">
				        <table md-table>
				            <thead md-head >
				                <tr md-row >
				                    <th md-column class = "font_16 center" style = "width : 50px">Task Id</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Client Name</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Contact Number</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Pan Card</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Status</th>
				                    <th md-column class = "font_16 center" style = "width : 100px">Action</th>
				                </tr>
				            </thead>
				            <tbody md-body>
					            <tr md-row ng-show = "assignedTasks.length > 0" ng-repeat = "task in assignedTasks | filter:searchQuery">
					                <td md-cell class = "font_14 center">#[[task.id]]</td>
					                <td md-cell class = "font_14 center">[[task.client_name]]</td>
					                <td md-cell class = "font_14 center">[[task.contact_number]]</td>
					                <td md-cell class = "font_14 center" ng-hide = "task.pan_card"><md-icon md-font-icon="fa-minus" class = "fa"></md-icon></td>
					                <td md-cell class = "font_14 center" ng-show = "task.pan_card">[[task.pan_card]]</td>
					              	<td md-cell class = "font_14 center">[[task.task_status]]</td>
					                <td md-cell class = "font_14 center" style = "width : 100px"><div layout = "row" layout-align = "start center"><md-icon ng-click = "updateTask(task)" md-font-icon="fa-pencil" class = "fa icon-transition" ></md-icon><md-icon ng-click = "viewTask(task)" md-font-icon="fa-eye" class = "fa icon-transition" ></md-icon><md-icon ng-click = "showRemoveTaskDialog($index)" md-font-icon="fa-times" class = "fa icon-transition" ></md-icon></div></td>
					            </tr>
					            <tr md-row ng-show = "assignedTasks.length == 0">
					            	<td md-cell class = "font_16 center font_bold" colspan = "8">There are no tasks assigned by you.</td>
					            </tr>
					        </tbody>
					    </table>
					</md-table-container>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add Branch" ng-click = "assignNewTask()">
	<md-icon md-font-icon="fa-plus" class = "fa fa-2x" style = "color : white"></md-icon>
</md-button>