<md-content class="md-padding" flex>
	<div layout = "column" layout-align = "center center">
		<h2>Manage Users</h2>
		<md-table-container md-row-select style = "margin-bottom : 40px">
	        <table md-table>
	            <thead md-head >
	                <tr md-row >
	                    <th md-column class = "font_18 center" style = "width : 100px">Id</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Name</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Email</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Branch</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Role</th>
	                    <th md-column class = "font_18 center" style = "width : 200px">Verified</th>
	                    <th md-column class = "font_18 center" style = "width : 100px">Action </th>
	                </tr>
	            </thead>
	            <tbody md-body>
		            <tr md-row ng-show = "users.length > 0" ng-repeat = "user in users">
		                <td md-cell class = "font_16 center">#[[user.id]]</td>
		                <td md-cell class = "font_16 center">[[user.first_name]] [[user.last_name]]</td>
		                <td md-cell class = "font_16 center">[[user.email]]</td>
		                <td md-cell class = "font_16 center" ng-hide = "branches[user.branch]"> - </td>
		                <td md-cell class = "font_16 center" ng-show = "branches[user.branch]">[[branches[user.branch].name ]]</td>
		                <td md-cell class = "font_16 center">[[user.user_role.toUpperCase()]]</td>
		                <td md-cell class = "font_16 center"><p ng-show = 'user.is_verified'>Verified</p><p ng-show = '!user.is_verified'>Not Verified</p></td>
		                <td md-cell class = "font_16 center"><div layout = "row" layout-align = "space-around center"><md-button ng-click = "showUpdateUserDialog($index)"><md-icon md-font-icon="fa-pencil" class = "fa" ></md-icon></md-button><md-button ng-click = "showRemoveUserDialog($index)"><md-icon md-font-icon="fa-remove" class = "fa" style = "color : red"></md-icon></md-button></div></td>
		            </tr>
		            <tr md-row ng-show = "users.length == 0">
		            	<td md-cell class = "font_16 center font_bold" colspan = "6">There are no users to show.</td>
		            </tr>
		        </tbody>
		    </table>
		</md-table-container>
	</div>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add Client" ng-click = "showAddUserDialog()">
	<md-icon md-font-icon="fa-plus" class = "fa fa-2x" style = "color : white"></md-icon>
</md-button>
<script type = "text/ng-template" id = "user.tmpl.html">
	<md-dialog aria-label="User">
			<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>[[::theScope.dialogType]] User <span ng-if = "theScope.dialogType == 'Edit'">- [[theScope.currentUser.first_name]]</span></h2>
		        <span flex></span>
		        <md-button class="md-icon-button" ng-click="theScope.closeDialog()">
		          <md-icon md-font-icon="fa-times" class = "fa" aria-label="Close dialog"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>
		    <md-dialog-content style="width:400px;max-height:810px;margin-top:20px">
		        <form name = "userForm">
		    	<div layout = "column" layout-align = "center center">
		            <md-input-container style = "width : 300px" class = "md-block">
					  <label>User Name</label>
					  <input type="text" required="" name = "name" ng-model = "theScope.currentUser.first_name">
					  <div ng-messages = "userForm.name.$error">
					  	<div ng-message = "required">This is required</div>
					  </div>
					</md-input-container>
		            <md-input-container style = "width : 300px">
					  <label>Email</label>
					  <input type="email" required name = "email" ng-model = "theScope.currentUser.email">
					  <div ng-messages = "userForm.email.$error">
					  	<div ng-message = "email">Please enter a valid email</div>
					  	<div ng-message = "required">This is required</div>
					  	<div ng-message = "userExists">User Exists. Email is already registered.</div>
					  </div>
					</md-input-container>
					<md-input-container style = "width: 300px">
				        <label>User Role</label>
				        <md-select ng-model="theScope.currentUser.user_role">
							<md-option ng-repeat="role in ::theScope.userRoles" value="[[role]]">
							[[role.toUpperCase()]]
							</md-option>
				        </md-select>
				    </md-input-container>
				    <md-input-container style = "width: 300px">
				        <label>Branch</label>
				        <md-select ng-model="theScope.currentUser.branch">
							<md-option ng-repeat="(id,branch) in theScope.branches" value="[[id]]">
							[[branch.name]]
							</md-option>
				        </md-select>
				    </md-input-container>
					<div layout = "row" layout-align = "center center">
						<md-button class = "md-primary" style = "font-size : 1.3em"
						ng-click = "theScope.userAction(theScope.dialog)" ng-disabled = "theScope.userActionLoading">[[::theScope.dialogType]] User</md-button>
						<md-progress-circular md-mode="[[theScope.userActionLoading]]"></md-progress-circular>
		            </div>
				</div>
			</form>
		</md-dialog-content>
    </md-dialog>
</script>