<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Team Consultancy</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/bower_components/mdPickers/dist/mdPickers.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/bower_components/restangular/dist/restangular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/js/plugins/pdfobject.js"></script>
    <script type="text/javascript" src="/bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="/bower_components/mdPickers/dist/mdPickers.min.js"></script>

    <script src = "/js/app/app.js"></script>
    <script type="text/javascript" src = "/js/app/services/userService.js"></script>
    <script type="text/javascript" src = "/js/app/services/caService.js"></script>
    <script type="text/javascript" src = "/js/app/directives/caDirectives.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/dashboardController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/addClientController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/searchClientController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/clientAreaController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/downloadCountController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/reportsController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/usersController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/branchesController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/assignTaskController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/tasksController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/viewTaskController.js"></script>
    <script type="text/javascript" src = "/js/app/controllers/editTaskController.js"></script>



    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
    <script>
    	var apiKey = '{{apiKey}}';
    	var user = {
    		id : {{id}},
    		role : "{{role}}",
    		name : "{{name}}",
    		email : "{{email}}"
    	};
    </script>
  </head>

  <body ng-app="Caweb" layout="column" layout-fill style = "height:auto">
    <div class = "app-loader" ng-show = "showAppLoader">
        <div layout = "column" layout-align = "center center" class = "spinner">
            <md-progress-circular md-mode="indeterminate" md-diameter = "128px"></md-progress-circular>
        </div>
        <div class = "overlay"></div>
    </div>
  <div layout = "column" flex>
  	<header>
	    <md-toolbar layout="row" layout-align = "start center" class="md-whiteframe-z2" style = "height : 50px">
			<h2 style = "margin-left : 2em">Team Consultancy</h2>
			<span flex></span>
            <md-button class="md-primary" ng-click = "toggleNotifications($event)">
                <md-icon md-menu-origin md-font-icon="fa-bell-o" class = "fa fa-2x" style = "color : white;margin-right : 5px;margin-bottom:5px"></md-icon>
                <span id="notification_count" ng-if = "unreadNotificationsCount > 0" ng-class = "{fade : startFade}"><p style = "height: 10px;margin-top:-5px">[[unreadNotificationsCount]]</p></span>
            </md-button>
            <div id="notificationContainer" ng-show = "notificationsOpen">
                <div id = "popArrow"></div>
                <div id="notificationTitle">
                    <p class = "font_18 center" style = "margin:0">Notifications</p>
                    <a href = "javascript:void(0)" class = "link" ng-click = "markAllNotificationsAsRead()">Mark All as read</a>
                </div>
                <div id="notificationsBody" class="notifications">
                    <md-virtual-repeat-container id = "vertical-container">
                        <md-list style = "padding: 0px">
                            <md-list-item md-virtual-repeat = "item in notifications" md-on-demand class="repeated-item" ng-class = "{'notification-read' : item.is_read}">
                                <div class="md-list-item-text" layout="column" style = "width: 100%">
                                <div layout = "row" layout-align = "space-between center">
                                  <p class = "notification-text">Task #[[item.task_id]]</p>
                                  <a href = "javascript:void(0)" class = "read-link" ng-if = "item.is_read == 0" ng-click = "markNotificationAsRead(item)">Mark as read</a>
                                </div>
                                  <p class = "notification-description">[[item.description]]</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        <p  style = "padding : 10px" ng-if = "notifications.numItems == 0">There are no notifications to show.</p>
                    </md-virual-repeat-container>
                </div>
                <div id="notificationFooter"><a href="#">See All</a></div>
            </div>
			<md-menu>
				<md-button class="md-primary" ng-click = "openUserMenu($mdOpenMenu, $event)">
				<md-icon md-menu-origin md-font-icon="fa-user" class = "fa fa-2x" style = "color : white;margin-right : 5px;margin-bottom:5px"></md-icon>
					[[user.name]]
				</md-button>
				<md-menu-content width="4">
					<md-menu-item>
						<md-button ng-click="showUserProfile($event)">
							<md-icon md-font-icon="fa-user" class = "fa" md-menu-align-target></md-icon>
							Show User Profile
						</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
						<md-button ng-click="logout()">
							Log out
						</md-button>
					</md-menu-item>
				</md-menu-content>
	  		</md-menu>
	    </md-toolbar>
    </header>
    <main class = "md-padding" layout = "column" flex>
    	<md-tabs md-stretch-tabs md-selected="selectedTab" md-border-bottom>
			<md-tab ng-repeat = "tab in tabs" label="[[tab]]" ng-click = "switchTab($index)" ng-if = "(user.role != 'CLIENT') || (user.role == 'CLIENT' && tab == 'Client Area')"></md-tab>
		</md-tabs>
    	<div ng-view flex></div>
    </main>
  </div>
  </body>
</html>
